*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 7px;
}

body{
    font-family: "Open Sans", serif;
    font-size: 1.6rem;
    color: white;
    line-height: 1.5;
    text-align: left;
    background-color: #333;
}

a{
    text-decoration: none;

}

p{
    padding: 1.6rem 0;
}

img{
    width: 100%;
}


header{
    height: 150rem;
    margin-top: 5rem;
}


.clearfix::after{
    content: "";
    display: block;
    clear: both;

}

header .bg-image{
    position: absolute;
    background-image: url(assets/img/image-3.png);
    background-size: cover;
    background-position: center;
    height: 150rem;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

header h1{
    padding: 12rem;
    padding-bottom: 0;
    color: #fff;
    font-size: 7rem;
}

header a{
    color: #fff;
    font-size: 5rem;
    margin: 5rem;
    
}

header a:visited{
    color: #fff;
}

header p{
    font-size: 4rem;
    margin: 0 13rem;
}

header .info-paragraph{
    font-size: 3rem;
    margin: 0 13rem;
}