*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 7px;
}



body{
    font-family: "Open Sans", serif;
    font-size: 1.6rem;
    color: white;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}

a{
    text-decoration: none;

}

p{
    padding: 1.6rem 0;
}

img{
    width: 100%;
}


header{
    height: 46rem;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header .bg-image{
    position: absolute;
    background-image: url(assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

header h1{
    padding: 12rem;
    padding-bottom: 0;
    color: #C84C05;
    font-size: 7rem;
}


.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: .5rem 0;
    transition: all 0.4s;
    font-size: 1.5rem;
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

#section-a{
    background-image: radial-gradient(circle,#DF6D2D, #DF6D2D, #333);
    color: #fff;
    padding: 3.2rem 0;
}

#section-b{
    padding: 2rem;
}

#section-b ul{
    list-style: none;
}


#section-b li{
    background-image: linear-gradient(to top, #DF6D2D,#333, #333);
    color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 4rem;   
}

#section-b li:first-child{
    background-image: linear-gradient(to top, red, #333, #333);
    
}

#section-b li:last-child{
    background-image: linear-gradient(to top, #638C6D,#333, #333);
 
}


.col img{
    height: fit-content;
    width: 100%;
}

.col img:hover{
    transform: scale(1.05);
    transition: all 0.4s;
}

.col-content{
    padding: 1.5rem;
}

.col-title{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
}

.col-title a{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
}

.col-title:hover{
    color: #333;
}

.col-title a:visited{
    color: #fff;
}

.col-title a:visited:hover{
    color: #333;
}


#section-c{
    background-color: #638C6D;
    color: #333;
    padding: 5rem;
}

#section-c h2{
    font-size: 3.2rem;
}



#section-d .box{
    padding: 5rem;
}

#section-d .box:first-child{
    background-color: #DF6D2D;
}

footer{
    padding: 4rem;
    background: black;
}

footer a{
    color: #638C6D;
}

.port-btn{
    color: #333;
    transition: all 0.4s;
    
}

.port-btn:hover{
    color: white;
}

.port-btn:visited{
    color: #333;
    transition: all 0.4s;
}

.port-btn:visited:hover{
    color: white;
}

.linked-in:visited{
    color: white;
}

@media screen and (max-width: 768px) {
    
   .col img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 33%;
}
    
}


@media screen and (min-width: 800px) {
    
    html{
        font-size: 10px;
    }

}

@media screen and (min-width: 1200px) {
    
    html{
        font-size: 12px;
    }

    #section-b li{
        width: 28%;
        margin: 1%;
        display: inline-block;
    }

    .box{
        width: 50%;
        float: left;
    }
}







